


<div class="editor-holder">
	<h2>Result of BattleScripts player 1</h2>
	<code id="output1">null</code>
	<div id="codeMirror1" class="codeMirror"></div>
	<button id="log1">Log outcome</button>
	<h2>Result of BattleScripts player 2</h2>
	<code id="output2">null</code>
	<div id="codeMirror2" class="codeMirror"></div>
	<button id="log2">Log outcome</button>
</div>
