<div class="editor-holder">
	<div id="codeMirror1" class="codeMirror"></div>
	<button id="log1">Log outcome</button>
	<div id="codeMirror2" class="codeMirror"></div>
	<button id="log2">Log outcome</button>
</div>
