<!-- <form action="post"> -->
<!-- 	<input type="text" placeholder="Nickname"> -->
<!-- 	<button type="submit">Go!</button> -->
<!-- </form> -->


    <h4>Create a new Game</h4>
    <input type="text" name="name" id="nameNew" placeholder="Enter your name" required>
    <button id="new">New Game</button>
    <br><br>
    <h4>Join an existing game</h4>
    <input type="text" name="name" id="nameJoin" placeholder="Enter your name" required>
    <input type="text" name="room" id="room" placeholder="Enter Game ID" required>
    <button id="join">Join Game</button>

  <h2 id="userHello"></h2>
  <p class="room-info"></p>